:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

body {
    background-color:rgb(236, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 800px;
    margin: 200px;
}

.hero-content {
    border: 1px solid blue;
}

.bottom-wrapper {
    display: flex;
    border: 1px solid red;

}

.subscription-container {
    border: 1px solid green;
    margin: 10px;
    flex: 1;
}

.about-us-container {
    border: 1px solid brown;
    flex: 1;
}


.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

